section#loading {
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: var(--loading-background);
    z-index: 99999999999;
    display: none;
    place-items: center;
    opacity: 0;
    animation: showLoader 0.2s linear forwards;

    @keyframes showLoader {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }

    .loader {
        margin-top: -40px;
        border-radius: 50%;
        height: 80px;
        width: 80px;
        position: relative;
        animation: loading 1.5s forwards linear infinite;

        @keyframes loading {
            0% {
                transform: rotate(0deg);
                height: 80px;
                width: 80px;
            }
            50% {
                height: 30px;
                width: 30px;
            }
            100% {
                transform: rotate(360deg);
                height: 80px;
                width: 80px;
            }
        }

        .item {
            position: absolute;
            height: 10px;
            width: 10px;
            border-radius: 50%;
            background-color: var(--primary-color);

            &:nth-child(1) {
                top: 0;
                left: 50%;
                transform: translateX(-50%);
            }

            &:nth-child(2) {
                top: 50%;
                right: 0;
                transform: translateY(-50%);
            }

            &:nth-child(3) {
                bottom: 0;
                left: 50%;
                transform: translateX(-50%);
            }

            &:nth-child(4) {
                top: 50%;
                left: 0;
                transform: translateY(-50%);
            }
        }
    }
}
