:root {
    --background-color-1: rgb(26,29,33);
    --background-color-2: rgb(22, 25, 28);
    --white: white;
    --gray: rgb(167, 166, 168);
    --blue: rgb(39, 135, 245);
    --blue-hover: rgb(15, 121, 244);
    --transition: .2s;
    --radius: 10px;
    --font-family-1: 'Roboto', sans-serif;
}