:root {
    --background-color-1: rgb(26,29,33);
    --background-color-2: rgb(22, 25, 28);
    --white: white;
    --light: white;
    --gray: rgb(167, 166, 168);
    --blue: rgb(39, 135, 245);
    --blue-hover: rgb(15, 121, 244);
    --transition: .2s;
    --radius: 10px;
    --font-family-1: 'Roboto', sans-serif;
}

body.light {
    --background-color-1:rgb(246, 249, 251);
    --background-color-2:rgb(255, 255, 255);
    --white:rgb(41, 57, 81);
    --gray:rgb(149, 170, 201);
}