:root {
    --background-color-1: rgb(26, 29, 33);
    --background-color-2: rgb(22, 25, 28);
    --background-color-3: rgb(30, 33, 38);
    --white: white;
    --light: white;
    --gray: rgb(167, 166, 168);
    --primary-color: rgb(39, 135, 245);
    --primary-color-hover: rgb(15, 121, 244);
    --error-color: rgb(220, 53, 69);
    --transition: 0.2s;
    --radius: 10px;
    --font-family-1: "Roboto", sans-serif;
    --animation-duration: 0.5s;
}

body.light {
    --background-color-1: rgb(246, 249, 251);
    --background-color-2: rgb(255, 255, 255);
    --background-color-3: rgb(235, 241, 247);
    --white: rgb(41, 57, 81);
    --gray: rgb(149, 170, 201);
}

body.spy {
    --primary-color: rgb(108, 70, 117);
}
