@media only screen and (max-width: 1400px) {
    main {
        .mainParent {
            .roomParent {
                .main {
                    .interactParent {
                        .container {
                            width: 40%;
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 1200px) {
    nav {
        .mobileNavParent {
            display: none;
        }
    }

    aside {
        .asideParent {
            display: none;
        }
    }

    main {
        .mainParent {
            .roomParent {
                max-width: 1000px;

                .header {
                    .back {
                        display: flex;
                    }

                    .profile {
                        justify-content: center;

                        > div:first-child {
                            display: none;
                        }

                        .info {
                            align-items: center;

                            h2 {
                                text-align: center;
                            }
                        }
                    }
                }

                .main {
                    .chatArea {
                        .message {
                            .content-img {
                                width: 30cqw;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 1000px) {
    main {
        .mainParent {
            .roomParent {
                max-width: 800px;
            }
        }
    }
}

@media only screen and (max-width: 700px) {
    main {
        .mainParent {
            .roomParent {
                width: 100%;

                .header {
                    padding: 15px 0;

                    .back {
                        width: 10%;
                    }

                    .profile {
                        width: 80%;
                    }

                    .settings {
                        width: 10%;
                    }
                }

                .main {
                    .chatArea {
                        .message {
                            .content-img {
                                width: 40cqw;
                            }
                        }
                    }

                    .interactParent {
                        .container {
                            width: 50%;
                        }
                    }
                }

                .footer {
                    .formParent {
                        height: 55px;

                        button {
                            width: 37px;
                        }

                        input {
                            padding: 0 15px;
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 450px) {
    main {
        .mainParent {
            .roomParent {
                padding: 0 10px;

                .main {
                    .chatArea {
                        .message-date {
                            margin: 15px 0;
                            font-size: 12px;
                        }

                        .message {
                            .content {
                                max-width: 80cqw;
                                padding: 10px 15px;
                                font-size: 14px;
                            }

                            .content-img {
                                width: 60cqw;
                                height: 25cqh;
                            }

                            .content-date {
                                font-size: 9px;
                            }
                        }
                    }

                    .interactParent {
                        .container {
                            width: 75%;
                        }
                    }
                }

                .footer {
                    .formParent {
                        input {
                            font-size: 14px;
                        }
                    }
                }
            }
        }
    }
}
